meta(charset="utf-8")
title= title
meta(name="description", content="")
meta(name="author", content="")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

//- 基本样式 
link(rel="stylesheet", type="text/css", media="screen", href="/css/bootstrap.css")
link(rel="stylesheet", type="text/css", media="screen", href="/css/font-awesome.css")

//- SmartAdmin 样式  
link(rel="stylesheet", type="text/css", media="screen", href="/css/smartadmin-production.css")
link(rel="stylesheet", type="text/css", media="screen", href="/css/smartadmin-skins.css")
link(rel="stylesheet", type="text/css", media="screen", href="/css/google_font.css")

//- FAVICONS 
link(rel="shortcut icon", href="/img/favicon/favicon.ico", type="image/x-icon")
link(rel="icon", href="/img/favicon/favicon.ico", type="image/x-icon")